@font-face {
  font-family: "iconfont"; /* Project id 2619017 */
  src: url('iconfont.woff2?t=1624246251005') format('woff2'),
       url('iconfont.woff?t=1624246251005') format('woff'),
       url('iconfont.ttf?t=1624246251005') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiare-:before {
  content: "\e687";
}

.icon-fengshan:before {
  content: "\e61c";
}

.icon-hongwaijiance:before {
  content: "\e624";
}

.icon-huoyan:before {
  content: "\e62d";
}

